body
{
    background-color: #222222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1
{
    text-align: center;
    padding-top: 30vh;
    font-weight: bold;
    color: white;
    font-size: 6vw;
}

div
{
    text-align: center;
    
}

a
{
    color: #999999;
    text-decoration: none;
    padding-inline: 3vw;
    font-size: x-large;
    transition: ease-in-out .1s;
}

a:hover
{
    color: white;
}